@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none !important;
}

body {
  background-color: #ededed;
}

.main_card {
  border: 0 !important;
  border-radius: 30px !important;
  box-shadow: 0px 44px 84px 6px rgba(216, 217, 219, 1);
}

.component-body {
  border-left: 1px solid #dbdbdb;
}

/* Side Navbar */
#sidebar {
  width: 16%;
}

.nav-brand {
  height: 88px;
  display: flex !important;
  align-items: center;
  border-bottom: 1px solid #dbdbdb !important;
}

.nav-brand span {
  color: #0d062d;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.2px;
}

#sidebar .menu_name {
  color: #787486;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
}

#sidebar hr {
  /* background-color: #dbdbdb;
  height: 3px !important; */
  width: 224px;
}

.side-navbar {
  width: 250px;
  height: 100%;
  margin-left: -300px;
  transition: 0.5s;
}

.side-menu2 span {
  color: #787486;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.52px;
}

.side-menu2 a {
  color: #0d062d;
  font-size: 16px;
  line-height: 19.36px;
  font-weight: 800;
  float: right;
}

.side-menu2 .nav-link.active {
  background: rgba(80, 48, 229, 0.08);
  border-radius: 6px;
}

.side-menu2 .nav-link.active > .menu_name {
  color: #0d062d !important;
}

.active-nav {
  margin-left: 0;
}

.notify-card {
  border: 0 !important;
  background-color: #f5f5f5 !important;
  margin-top: 55px !important;
  border-radius: 16px !important;
}

.notify-card .card-header {
  background-color: #f5f5f5 !important;
  position: absolute;
  width: 66px;
  height: 66px;
  border-radius: 50% !important;
  left: 35%;
  top: -32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lamp-light {
  width: 33px;
  height: 33px;
  background: rgba(252, 214, 74, 0.7);
  filter: blur(17px);
  position: absolute;
}

.notify-head {
  font-size: 14px;
  font-weight: 500;
  line-height: 16.94px;
  color: #000;
  text-align: center;
  margin-top: 4px;
  z-index: 1;
}

.notify-body {
  font-size: 12px;
  font-weight: 400;
  line-height: 14.52px;
  text-align: center;
  color: #787486;
}

.notify-message {
  background-color: #fff !important;
  height: 40px;
  width: 100%;
}

.green-dot::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: #7ac555;
  margin-right: 5px;
}

.orange-dot::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: #ffa500;
  margin-right: 5px;
}

.pink-dot::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: #e4ccfd;
  margin-right: 5px;
}

.blue-dot::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: #76a5ea;
  margin-right: 5px;
}

.violet-dot::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: #5030e5;
  margin-right: 5px;
}

.green-dot::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: #8bc48a;
  margin-right: 5px;
}

.violet-border {
  background: #800080;
  border-bottom: 3px solid #5030e5 !important;
}

.orange-border {
  background: #800080;
  border-bottom: 3px solid #ffa500 !important;
}

.green-border {
  background: #800080;
  border-bottom: 3px solid #8bc48a !important;
}

.input-group-text {
  border: 0 !important;
  border-radius: 6px !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
  background-color: #f5f5f5 !important;
}

.dropdown-toggle::after {
  border: 0 !important;
  background-image: url("/arrow-down.svg");
  width: 18px;
  height: 18px;
  display: inline-flex !important;
  align-items: center;
}

@media only screen and (max-width: 700px) {
  #sidebar hr {
    width: 100%;
  }
  .component-body {
    overflow: scroll;
  }
}

@media only screen and (min-width: 701px) and (max-width: 812px) {
  #sidebar {
    width: 45%;
  }

  .nav-brand span {
    font-size: 16px;
  }
}

@media only screen and (min-width: 813px) and (max-width: 1023px) {
  #sidebar {
    width: 45%;
  }
}

@media only screen and (min-width: 1024px) and (max-width: 1100px) {
  #sidebar {
    width: 28%;
  }
  #sidebar hr {
    width: 100%;
  }
}

@media only screen and (min-width: 1111px) and (max-width: 1196px) {
  #sidebar {
    width: 20%;
  }
}

@media only screen and (min-width: 1200px) and (max-width: 1366px) {
  #sidebar {
    width: 20%;
  }
}
