@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Inter", sans-serif;
}

a {
  text-decoration: none !important;
}

body {
  background-color: #ededed;
}

.main_card {
  border: 0 !important;
  border-radius: 30px !important;
  box-shadow: 0px 44px 84px 6px rgba(216, 217, 219, 1);
}

/* Side Navbar */
#sidebar {
  border-right: 1px solid #dbdbdb;
}

.nav-brand {
  height: 88px;
  display: flex !important;
  align-items: center;
  border-bottom: 1px solid #dbdbdb !important;
}

.nav-brand span {
  color: #0d062d;
  font-size: 20px;
  font-weight: 600;
  line-height: 24.2px;
}

#sidebar .menu_name {
  color: #787486;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
}

#sidebar hr {
  /* background-color: #dbdbdb;
  height: 3px !important; */
  width: 224px;
}

.side-navbar {
  width: 250px;
  height: 100%;
  margin-left: -300px;
  transition: 0.5s;
}

.side-menu2 span {
  color: #787486;
  font-size: 12px;
  font-weight: 700;
  line-height: 14.52px;
}

.side-menu2 a {
  color: #0d062d;
  font-size: 16px;
  line-height: 19.36px;
  font-weight: 800;
  float: right;
}

.side-menu2 .nav-link.active {
  background: rgba(80, 48, 229, 0.08);
  border-radius: 6px;
}

.side-menu2 .nav-link.active > .menu_name {
  color: #0d062d !important;
}

.active-nav {
  margin-left: 0;
}


.green-dot::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: #7AC555;
  margin-right: 5px;
}

.orange-dot::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: #FFA500;
  margin-right: 5px;
}

.pink-dot::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: #E4CCFD;
  margin-right: 5px;
}

.blue-dot::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  -moz-border-radius: 7.5px;
  -webkit-border-radius: 7.5px;
  border-radius: 7.5px;
  background-color: #76A5EA;
  margin-right: 5px;
}
